@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b2b2b2b2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5bacff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5bacff;
  opacity: 0.6;
}

.pattern {
  background-image: url("./assets/pattern/Pattern.svg");
  background-repeat: repeat; /* Gambar akan diulang di kedua sumbu (horizontal dan vertikal) */
}

.bgbiru {
    position: relative;
    overflow: hidden;
    background: url('../src/assets/heropage2/maskBlue.svg'), #0A3B82;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
    background-position: top center, top center;
}

.bgmerah {
    position: relative;
    overflow: hidden;
    background: url('../src/assets/heropage2/maskRed.svg'), #F23041;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
    background-position: top center, top center;
}

.bgbirusecond {
  position: relative;
    overflow: hidden;
    background: url('../src/assets/heropage2/maskBiru.svg'), #5BACFF;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
    background-position: top center, top center;
}

.bgkuning {
  position: relative;
    overflow: hidden;
    background: url('../src/assets/heropage2/maskKuning.svg'), #FFA800;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
    background-position: top center, top center;
}

@media (max-width: 768px) {
    .bgmerah, .bgbiru, .bgbirusecond, .bgkuning{
        background-repeat: repeat, no-repeat;
    }
}
